<div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">{{title | peTranslate}}</h2></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1" pe-translate="rankings.coaches.header.index">index</th>
                <th class="col-md-{{11 - headers.length}}" pe-translate="rankings.coaches.header.coach">coach</th>
                <th class="col-md-1" ng-repeat="h in headers">{{'rankings.coaches.header.' + h | peTranslate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in rankingsDatas">
                <td class="col-md-1">{{$index + 1}}</td>
                <td class="cut col-md-{{11 - headers.length}}"><a ng-click="showCoach(item.id);" class="clickable">{{item.name}}</a></td>
                <td class="col-md-1" ng-repeat="h in headers">{{valueOf(item, h)}}</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

<style>
    th, td {
        text-align: center
    }

    td.cut {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>