<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><span pe-translate="coach.title">COACH :</span>&nbsp;<strong>{{coatch.name}}</strong></h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12 col-sm-6" ng-show="currentEdition.hasTeam()">
                <a ng-click="showTeam(coatch.coachTeamId);">
                    <h4><span pe-translate="coach.team">TRIPLETTE :</span>&nbsp;<strong>{{coatch.coachTeamName}}</strong></h4>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4><span pe-translate="coach.naf">NAF N° :</span>&nbsp;<strong>{{coatch.nafNumber}}</strong></h4>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4><span pe-translate="coach.race">Race :</span>&nbsp;<strong>{{coatch.raceName}}</strong></h4>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <button role="button" class="btn btn-info" ng-click="showMatchsByCoach(coatch.id);" pe-translate="coach.macths">Matchs</button>
    </div>
</div>
