<div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title" pe-translate="matchs.title.{{filter}}">MATCHS</h2></div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li ng-repeat="item in ['Tous','1','2','3','4','5','6']" ng-class="{active: $index==round}" ng-click="setRound($index);"><a>{{item}}</a></li>
        </ul>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="match in matchsList | orderBy : table">
            <div class="row">
                <div class="col-xs-2" style="text-align:center">
                    <span class="label label-primary" style="width:100%;display:block">{{match.round}}</span><br />
                    <span class="label label-default" style="width:100%;display:block">{{match.table}}</span>
                </div>
                <div class="col-xs-4" style="text-align:right">
                    <span style="white-space: nowrap;">{{match.teamName1}}</span><br />
                    <a ng-click="showCoach(match.teamId1);" style="white-space: nowrap;"><strong>{{match.coach1}}</strong></a><br />
                    <span class="badge">{{match.td1}}</span><br />
                    <span class="badge">{{match.casualties1}}</span>
                </div>
                <div class="col-xs-2" style="text-align:center">
                    <br />
                    VS<br />
                    TD<br />
                    CAS<br />
                </div>
                <div class="col-xs-4" style="text-align:left">
                    <span style="white-space: nowrap;">{{match.teamName2}}</span><br />
                    <a ng-click="showCoach(match.teamId2);" style="white-space: nowrap;"><strong>{{match.coach2}}</strong></a><br />
                    <span class="badge">{{match.td2}}</span><br />
                    <span class="badge">{{match.casualties2}}</span>
                </div>
            </div>

        </li>
    </ul>
</div>