<div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">{{title | peTranslate}}</h2></div>
    <table class="table table-striped" ng-table="config">
        <thead>
            <tr>
                <th pe-translate="rankingByCoach.index">index</th>
                <th pe-translate="rankingByCoach.coach">coach</th>
                <th pe-translate="rankingByCoach.td">td</th>
                <th pe-translate="rankingByCoach.points">points</th>
                <th pe-translate="rankingByCoach.oppoints">op points</th>
                <th pe-translate="rankingByCoach.nettd">net TD</th>
                <th pe-translate="rankingByCoach.casualities">sorties</th>
                <th pe-translate="rankingByCoach.detail">détaille</th>
            </tr>
        </thead>
        <tr ng-repeat="item in rankings">
            <td>{{$index + 1}}</td>
            <td><a ng-click="showCoach(item.id);" class="clickable">{{item.coach}}</a></td>
            <td>{{item.td}}</td>
            <td>{{item.points}}</td>
            <td>{{item.opponentsPoints}}</td>
            <td>{{item.netTd}}</td>
            <td>{{item.casualties}}</td>
            <td><a ng-click="viewMatchsDetailByCoach(item.id);" class="clickable"><span class="glyphicon glyphicon-info-sign"></span></a></td>
        </tr>
    </table>
</div>
